@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.input__container {
  width: 100%;
  height: 5.3rem;

  margin-bottom: 1.9rem;

  letter-spacing: .0625rem;

  display: flex;
  flex-direction: column;

  .input__label {
    height: 1rem;
    font-size: .875rem;
    letter-spacing: inherit;
  }

  .input__input {
    height: 4.5rem;
    border: none;
    border-bottom: 1px solid $form_placeholder;

    font-family: 'Archivo Regular', sans-serif;
    letter-spacing: inherit;

    background-color: transparent;
    font-size: 1.25rem;

    &::placeholder {
      color: $form_placeholder;
      font-family: 'Archivo Medium', sans-serif;
      letter-spacing: inherit;

    }

    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      border-bottom: 1px solid #000;
      //transform: scale(1.0125);
      //padding: 1.4rem .75rem 0;
    }
  }
}
