@import '../../styles/_breakpoints.scss';

.form__wrapper {
  //border: 1px solid red;
  width: 100%;
  height: 485px;

  font-family: 'Archivo Medium', sans-serif;

  @include breakpoint-tablet-up {

  }
}
