@import '../../styles/_breakpoints.scss';

.form__wrapper {
  width: 100%;
  height: 30rem;

  font-family: 'Archivo Medium', sans-serif;

  @include breakpoint-desktop-up {
    min-width: 658px;
    width: 100%;
    height: 30.75rem;
  }
}
