@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.landing-text {
  font-family: 'Archivo Medium', sans-serif;
  font-weight: 200;
  color: $landing_page_text;
  box-sizing: border-box;
  height: 13rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-tablet-up {
    height: 22.375rem;
  }

  @include breakpoint-desktop-up {
    height: 21rem;
  }


  .landing-text__header {
    width: 18rem;
    height: 5.875rem;
    color: #fff;
    font-family: 'Archivo Bold', sans-serif;

    font-size: 6.875rem;
    font-size: 7rem;

    line-height: 1.1;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint-smallphone-down {
      font-size: 5.25rem;
    }

    @include breakpoint-tablet-up {
      width: 31.25rem;
      height: 14.85rem;
      font-size: 11.5rem;
    }

    @include breakpoint-desktop-up {
      width: 44rem;
      height: 13rem;
      font-size: 14.5rem;
    }
  }

  .landing-text__quote {
    width: 16rem;
    height: 2.5rem;

    text-align: center;
    letter-spacing: 0.06875rem;
    font-size: 1rem;
    margin-top: .56rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint-tablet-up {
      width: 25rem;
      height: 1.25rem;
      margin-top: 1.625rem;
      margin-top: 26px;
      font-size: 1.1rem;
    }

    @include breakpoint-desktop-up {
      width: 24.6rem;
      height: 1.25rem;
      margin-top: 1.8rem;
      font-size: .875rem;
    }
  }



  .landing-text__source {
    width: 9.625rem;
    height: 1rem;
    font-size: 1rem;
    letter-spacing: 1.1px;
    text-align: center;
    margin-top: .56rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint-tablet-up {
      width: 9.6rem;
      height: 1rem;
      font-size: 1rem;
      margin-top: .72rem;
    }

    @include breakpoint-desktop-up {
      min-width: 9.68rem;
      width: 9.68rem;
      height: 1rem;
      font-size: .875rem;
      margin-top: .5rem;
    }
  }
}
