.landing-text {

  font-family: sans-serif;
  font-weight: 200;
  color: #C7C1BD;
  margin-top: 15px;
  height: 182px;

  display: flex;
  flex-direction: column;
  align-items: center;



  &__header {
    width: 291px;
    height: 116px;

    color: #fff;
    font-family: 'Archivo Regular';
    font-size: 6.875rem;
    line-height: 1.1;

    display: flex;
    justify-content: center;
  }

  &__quote {
    width: 260px;
    height: 40px;
    text-align: center;
    letter-spacing: 1.1px;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__source {
    width: 155px;
    height: 26px;
    letter-spacing: 1.1px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
