@mixin portrait() {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}


$breakpoints: (
   'xsmall' : 0px,
   'smallphone': 374px,
   'phone' : 375px,
   'widephone' : 440px,
   'tablet' : 757px,
   'desktop' : 1026px,
);

@mixin breakpoint-smallphone-down {
  $max-value: map-get($breakpoints, smallphone);

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-phone-down {
  $max-value: map-get($breakpoints, tablet) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-phone-up {
  $min-value: map-get($breakpoints, phone);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-widephone-up {
  $min-value: map-get($breakpoints, widephone);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-tablet-down {
  $max-value: map-get($breakpoints, desktop) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-tablet-up {
  $min-value: map-get($breakpoints, tablet);

  @media (min-width: $min-value) {
    @content;
  }
}


@mixin breakpoint-desktop-up {
  $min-value: map-get($breakpoints, desktop);

  @media (min-width: $min-value) {
    @content;
  }
}
