$white: #fff;
$offwhite: #F4F1ED;

$landing_page_text: #C7C1BD;

$page_2_title: #31211B;
$page_2_text: #98908D;

$orange: #F56D23;
$menu: #EE5F20;

$social_icons: #D6D3D1;
$image_selectors: #D7D7D7;

$sidebar_text: #D7D4D2;
