$white: #fff;
$offwhite: #F4F1ED;

$landing_page_text: #C7C1BD;

$page_2_title: #31211B;
$page_2_text: #98908D;
$sidebar_text: #D7D4D2;


$page_3_black: #040404;
$page_3_text: #818181;
$page_3_specs: #404040;

$orange: #F56D23;
$menu: #EE5F20;

$social_icons: #D6D3D1;
$image_selectors: #D7D7D7;
