@font-face {
  font-family: 'Archivo Bold';
  src: local('Archivo Bold'), url(
'../assets/fonts/Archivo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo Regular';
  src: local('Archivo Regular'), url(
'../assets/fonts/Archivo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo Medium';
  src: local('Archivo Medium'), url(
'../assets/fonts/Archivo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo Italic';
  src: local('Archivo Italic'), url(
'../assets/fonts/Archivo-Italic.ttf') format('truetype');
}
