@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.form {
  background-color: $offwhite;
  padding: 3.5rem 1.6rem 15rem;
  //border: 1px solid red;

  @include breakpoint-tablet-up {
    padding: 10.875rem 3.7rem 20em;
  }
}
