@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.page-3__text-container {
  min-width: 23.4rem;
  width: 100%;
  height: 21rem;

  @include breakpoint-tablet-up {
    //min-width: 32rem;
    width: 67%;
    width: 28.4rem;

    height: 28.3rem;
  }

  .page-3__text-sidebar {
    display: none;

    @include breakpoint-desktop-up {

    }
  }

  .page-3__text-body {
    font-family: 'Archivo Medium', sans-serif;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 1.7rem 1.625rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .page-3__text-header {
      width: 100%;
      height: 4.625rem;

      .page-3__text-title {
        width: 100%;
        height: 2.25rem;

        font-size: 2rem;
      }

      .page-3__title-underline {
        width: 5.125rem;
        height: .25rem;
        background-color: $menu;
        margin-top: .625rem;
        margin-bottom: 1.5rem;
      }
    }

    .page-3__text {
      width: 100%;
      height: 16.625rem;
      font-size: 1rem;
      line-height: 1.625rem;
      color: $page_3_text;
    }
  }

}
