@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.page-3__text-container {
  box-sizing: border-box;
  min-width: 23.4rem;
  width: 100%;
  height: 21rem;

  @include breakpoint-smallphone-down {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
  }

  @include breakpoint-tablet-up {

    width: 28.4rem;
    height: 28.4rem;
  }

  @include breakpoint-desktop-up {
    min-width: 26rem;
    width: 52%;
    height: 100%;

    padding: 0;
  }

  .page-3__text-sidebar {
    display: none;

    @include breakpoint-desktop-up {

    }
  }

  .page-3__text-body {
    font-family: 'Archivo Medium', sans-serif;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 1.7rem 1.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-tablet-up {
      padding: 0;
    }

    @include breakpoint-desktop-up {



      margin-top: 4.4rem;
      margin-right: 3.8rem;
      margin-bottom: 5rem;
      margin-left: 7rem;


      //min-width: 447px;
      min-width: 22rem;
      width: 68%;
      //min-height: 460px;
      height: 24rem;
      //height: 385px;
    }

    .page-3__text-header {
      width: 100%;
      height: 4.625rem;


      @include breakpoint-tablet-up {
        height: 5.875rem;

      }

      @include breakpoint-desktop-up {
        height: 6rem;
      }

      .page-3__text-title {
        width: 100%;
        height: 2.25rem;

        font-size: 2rem;

        @include breakpoint-tablet-up {
          height: 3rem;
          font-size: 2.75rem;
        }

        @include breakpoint-desktop-up {
          height: 3rem;
          font-size: 2.75rem;
        }
      }

      .page-3__title-underline {
        width: 5.125rem;
        height: .25rem;
        background-color: $menu;
        margin-top: .625rem;
        margin-bottom: 1.5rem;

        @include breakpoint-tablet-up {
          margin-top: .875rem;
          margin-bottom: 1.75rem;
        }

        @include breakpoint-desktop-up {
          margin-top: 1rem;
          margin-bottom: 4.8rem;
        }
      }
    }

    .page-3__text {
      width: 100%;
      height: 16.625rem;
      font-size: 1rem;
      line-height: 1.625rem;
      color: $page_3_text;

      @include breakpoint-tablet-up {
        width: 100%;
        height: 19.7rem;
        font-size: 1.25rem;
        line-height: 2rem;
      }

      @include breakpoint-desktop-up {
        height: 18rem;
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
  }

}
