@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.page-2__text-container {
  box-sizing: border-box;
  width: 100%;
  height: 23rem;

  @include breakpoint-smallphone-down {
    padding: 1rem;
  }

  font-family: 'Archivo Medium', sans-serif;

  @include breakpoint-tablet-up {
    width: 84%;
    min-width: 647px;
    height: 24.7rem;
    padding-bottom: 10.6rem;
    margin: 0 auto;
  }

  @include breakpoint-desktop-up {
    width: 50%;
    height: 44.5rem;
    padding: 0;
    min-width: 0;

    display: flex;
  }

  .page-2__text-body {
    box-sizing: border-box;
    width: 100%;

    @include breakpoint-tablet-up {

    }

    @include breakpoint-desktop-up {
      width: 82%;
      margin: 7.5rem 3.4rem 13rem;
    }


    .page-2__text-header {
      width: 100%;
      min-width: 22rem;
      height: 5rem;
      padding-left: 1.7rem;

      @include breakpoint-tablet-up {
        height: 6rem;
      }

      @include breakpoint-desktop-up {
        height: 6rem;
        width: 100%;
        padding: 0;
      }

      .page-2__text-title {
        width: 100%;
        height: 2.25rem;

        font-size: 2rem;
        color: $page_2_title;

        @include breakpoint-tablet-up {
          height: 3rem;
          font-size: 2.75rem;
        }
      }

      .page-2__title-underline {
        background-color: $menu;
        width: 5.125rem;
        height: .25rem;

        margin-top: .625rem;

        @include breakpoint-tablet-up {
          width: 5.125rem;
          height: .25rem;

          margin-top: .875rem;
        }
      }
    }

    .page-2__text {
      box-sizing: border-box;
      width: 20.125rem;
      width: 86%;
      height: 16.625rem;
      color: $page_2_text;
      font-size: 1rem;
      line-height: 1.625rem;
      margin: 0 auto;

      @include breakpoint-smallphone-down {
        width: 18rem;
      }

      @include breakpoint-tablet-up {
        width: 40.5rem;
        width: 95%;
        height: 14.375rem;
        font-size: 1.25rem;
        line-height: 2rem;
        margin: 0 auto;
      }

      @include breakpoint-desktop-up {
        height: 25rem;
        padding-right: 2.5rem;
      }

    }
  }


}
