@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.page-2__text-container {
  box-sizing: border-box;
  width: 100%;
  height: 23rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;

  font-family: 'Archivo Medium', sans-serif;

  @include breakpoint-tablet-up {
    height: 24.7rem;
    padding: 0 3.75rem 170px;
  }

  @include breakpoint-desktop-up {
    width: 45rem;
    height: 44.5rem;
    padding: 0;

    display: flex;
  }

  .page-2__text-sidebar {
    display: none;

    @include breakpoint-desktop-up {
      display: flex;
      width: 6.125rem;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .page-2__text-sidebar-content {
      min-width: 18.3rem;
      height: 1rem;
      transform: rotate(270deg);
      font-size: .875rem;
      letter-spacing: 1px;
      color: $sidebar_text;

    }
  }

  .page-2__text-body {
    box-sizing: border-box;
    width: 622px;

    @include breakpoint-desktop-up {
      padding: 121px 55px 211px;
    }


    .page-2__text-header {
      width: 100%;
      height: 5rem;

      @include breakpoint-tablet-up {
        height: 6rem;
      }

      @include breakpoint-desktop-up {
        height: 6rem;
        width: 479px;
      }

      .page-2__text-title {
        width: 100%;
        height: 2.25rem;

        font-size: 2rem;
        color: $page_2_title;

        @include breakpoint-tablet-up {
          height: 3rem;
          font-size: 2.75rem;
        }
      }

      .page-2__title-underline {
        background-color: $menu;
        width: 5.125rem;
        height: .25rem;

        margin-top: .625rem;

        @include breakpoint-tablet-up {
          width: 5.125rem;
          height: .25rem;

          margin-top: .875rem;
        }
      }
    }

    .page-2__text {
      box-sizing: border-box;
      width: 20.125rem;
      height: 16.625rem;
      color: $page_2_text;
      font-size: 1rem;
      line-height: 1.625rem;

      @include breakpoint-tablet-up {
        width: 40.5rem;
        height: 14.375rem;
        font-size: 1.25rem;
        line-height: 2rem;
      }

      @include breakpoint-desktop-up {
        height: 18.5rem;
        width: 30rem;
        font-size: 1.25rem;
        line-height: 2rem;
        padding-right: 41px;
      }

    }
  }


}
