@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.page-3 {
  background-color: $page_3_black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page-3__img-container {
    box-sizing: border-box;
    //background-color: red;
    //opacity: .5;
    width: 100%;
    height: 24.125rem;
    //height: 368px;



    padding: 2.18rem 4.56rem 4.62rem 2rem;

    @include breakpoint-tablet-up {
      height: 29.5rem;

      padding: 3.2rem 15.3rem 4.43rem 11.4rem;
    }

    .page-3__img {
      width: 16.8rem;
      height: 17.3rem;
      border: 1px solid white;

      @include breakpoint-tablet-up {
        width: 21.31rem;
        height: 22rem;

      }
    }
  }

  .page-3__body {
    //background-color: red;
    min-width: 23.4rem;
    width: 100%;
    height: 29rem;
    //opacity: .5;

    @include breakpoint-tablet-up {
      height: 28rem;
      min-width: 48rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .page-3__text-container {
      min-width: 23.4rem;
      width: 100%;
      height: 21rem;
      //background-color: orange;
      border: 1px solid orange;



      @include breakpoint-tablet-up {
        //min-width: 32rem;
        width: 67%;
        width: 28.4rem;

        height: 28.3rem;
      }
    }

    .page-3__specs {
      //background-color: purple;
      border: 1px solid purple;
      height: 8rem;
      width: 100%;


      @include breakpoint-tablet-up {
        //min-width: 15.8rem;
        //width: 15.8rem;
        width: 33%;
        width: 11.5rem;
        height: 28.3rem;
      }
    }


  }






}
