@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.page-3 {
  background-color: $page_3_black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  

  .page-3__body {
    //background-color: red;
    min-width: 23.4rem;
    width: 100%;
    height: 29rem;
    //opacity: .5;

    @include breakpoint-tablet-up {
      height: 28rem;
      min-width: 48rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }




  }






}
