@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.page-3 {
  background-color: $page_3_black;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-desktop-up {
    display: block;
  }

  .page-3__wrapper {

    @include breakpoint-desktop-up {
      display: none;
    }

    .page-3__body {
      min-width: 23.4rem;
      width: 100%;
      height: 29rem;

      @include breakpoint-tablet-up {
        height: 28rem;
        min-width: 48rem;
        width: 100%;
        display: flex;
        justify-content: center;
      }




    }
  }

  .page-3--desktop {
    display: none;

    @include breakpoint-desktop-up {
      display: block;
      margin-left: 7.7%;
      margin-right: 6.5%;
    }

    .page-3__body--desktop {
      display: flex;
      height: 33.7rem;;
    }
  }

}
