@import '../../styles/_breakpoints.scss';

.drone {
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .images-wrapper {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .drone-img {
      position: absolute;

    }

    .shadow-img {
      position: absolute;


    }
  }

  &.landing {
    height: 23.5rem;
    padding-top: 1rem;

    @include breakpoint-tablet-up {
      height: 33rem;
      padding: 4.3rem 7rem 0;
    }

    @include breakpoint-desktop-up {
      height: 21.5rem;
      padding: 0 31.5rem;
    }

    .images-wrapper {

      .drone-img {
        bottom: 8.275%;
        width: 25.625rem;
        height: 19.375rem;

        @include breakpoint-phone-down {
          max-width: 25.625rem;
          max-height: 21.125rem;
        }

        @include breakpoint-tablet-up {
          width: 34rem;
          height: 28rem;
        }

        @include breakpoint-desktop-up {
          position: static;
          min-width: 26.8rem;
          width: 26.8rem;
          height: 20.8rem;
        }
      }

      .shadow-img {
        bottom: 2.958%;
        width: 20.31rem;
        height: 1.75rem;


        @include breakpoint-phone-down {
          max-width: 20.3125rem;
          max-height: 1.75rem;
        }

        @include breakpoint-tablet-up {
          width: 27rem;
          height: 2.5rem;
        }

        @include breakpoint-desktop-up {
          min-width: 21rem;
          width: 21rem;
          height: 1.8rem;
          bottom: -5%;
        }
      }
    }

  } /******** End .drone.landing ********/






  &.page2 {
    height: 19rem;

    padding-top: 2.5rem;

    @include breakpoint-tablet-up {
      height: 25.5rem;
      padding: 2.7rem 3.8rem 0;
    }

    @include breakpoint-desktop-up {
      //height: 21.5rem;
      //padding: 0 31.5rem;
    }

    .images-wrapper {

      .drone-img {
        bottom: 5.9%;
        width: 20.125rem;
        height: 15.375rem;

        @include breakpoint-tablet-up {
          width: 27.5rem;
          height: 21.25rem;
        }

        @include breakpoint-desktop-up {
          position: static;
          min-width: 26.8rem;
          width: 26.8rem;
          height: 20.8rem;
        }
      }

    }

  } /******** End .drone.page2 ********/

}
