@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.dd-nav {

  background-color: white;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  width: 100%;



  @include breakpoint-phone-down {
    height: 4.875rem;
  }

  @include breakpoint-tablet-up {

    height: 6rem;
  }

  @include breakpoint-desktop-up {
    height: 5.8rem;
  }


  .dd-nav__left {
    width: 33%;
    height: 100%;


    .dd-nav__left--desktop {
      height: 100%;

      @include breakpoint-tablet-down {
        display: none;
      }

      @include breakpoint-desktop-up {
        padding-left: 2.4rem;

        display: flex;
        align-items: center;

      }

      .dd-nav__list {
        display: none;
      }

      .dd-nav__social-icons {
        color: $social_icons;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 5.6rem;
        height: 1.5rem;

        > li {
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .dd-nav__center {

    width: 33%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    .dd-logo_container {

      display: flex;
      justify-content: center;
      align-items: center;

      .dd-logo {

        width: 8.5rem;
        height: 1.264rem;

        @include breakpoint-tablet-up {
          width: 11rem;
          height: 1.625rem;
        }

      }
    }
  }

  .dd-nav__right {

    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    .dd-btn_container {
      width: 66.4%;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      @include breakpoint-desktop-up {
        display: none;
      }

      .dd-menu_btn {
        width: 1.8125rem;
        height: .75rem;

        position: absolute;
        top: 43.6%;
        right: 32.53%;
      }
    }


    .dd-nav__right--desktop {
      width: 100%;
      height: 100%;

      @include breakpoint-tablet-down {
        display: none;
      }

      @include breakpoint-desktop-up {
        display: flex;
        justify-content: flex-end;
      }

      .dd-nav__list {
        display: none;
      }

      .dd-btn_container--desktop {

        @include breakpoint-desktop-up {

          padding-right: 0;
          display: flex;
          align-items: center;
          padding-right: 2.5rem;

          &:hover {
            cursor: pointer;
          }
        }

        .dd-menu_btn--desktop {
          width: 29px;
          height: 12px;
        }
      }
    }
  }

}
