@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.image-selectors {
  //border: 1px solid red;
  width: 12rem;
  height: 3.5rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint-desktop-up {
    height: 44.5rem;
    width: 6rem;
  }

  .selectors {
    border: 1px solid black;
    box-sizing: border-box;
    width: 5.875rem;
    height: .125rem;
    //z-index: 100;

    display: flex;
    justify-content: space-between;

    @include breakpoint-desktop-up {
      transform: rotate(90deg);
    }

     li {
      background-color: $image_selectors;
      border-radius: 5.5px;
      height: .125rem;

      width: 1.875rem;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background-color: $menu;
      }
    }
  }
}
