@import '../../styles/_colors.scss';

.image-selectors {
  border: 1px solid red;
  width: 12rem;
  height: 3.5rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  .selectors {
    box-sizing: border-box;
    width: 5.875rem;
    height: .125rem;
    //z-index: 100;

    display: flex;
    justify-content: space-between;

     li {
      background-color: $image_selectors;
      border-radius: 5.5px;
      height: .125rem;

      width: 1.875rem;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background-color: $menu;
      }
    }
  }
}
