@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.page-2 {
  background-color: #fff;
  overflow: scroll;
  //max-width: 100vw;
  padding-bottom: 2rem;

  @include breakpoint-desktop-up {
      display: flex;
      flex-direction: row-reverse;
      height: 44.5rem;

  }

  .page-2__images-container {
    //width: 100%;
    height: 24rem;

    @include breakpoint-tablet-up {
      height: 33.25rem;
    }

    @include breakpoint-desktop-up {
      width: 45rem;
      height: 44.5rem;

      display: flex;
    }


  }


}
