@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.page-2 {
  background-color: #fff;
  border: 1px solid blue;
  min-height: 100vh;
  max-width: 100vw;
  background-color: yellow;

  @include breakpoint-desktop-up {
      display: flex;
      flex-direction: row-reverse;
  }

  .page-2__images-container {
    //background-color: orange;
    //opacity: .75;
    width: 100%;
    height: 24rem;

    @include breakpoint-tablet-up {
      height: 33.25rem;
    }

    @include breakpoint-desktop-up {
      width: 45rem;
      height: 44.5rem;

      display: flex;
    }


  }


}
