@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.page-2 {
  //background-color: #fff;

  @include breakpoint-desktop-up {
    display: flex;
    flex-direction: row-reverse;
    height: 44rem;
    margin-left: 7.7%;
    margin-right: 6.5%;

  }

  .page-2__images-container {
    width: 100%;
    height: 24rem;

    @include breakpoint-tablet-up {
      height: 33.25rem;
    }

    @include breakpoint-desktop-up {
      width: 50%;
      height: 44.5rem;
      display: flex;
    }


  }


}
